.address-input {
  &__form {
    max-width: 400px;

    & > div {
      margin-top: 25px;
    }
  }

  &__results {
    &__title {
      margin: 0;
    }
  }

  &__submit {
    margin-top: 25px;
  }

  &__error p {
    color: red;
  }

  &__results {
    &__final {
      color: green;
    }
  }

  &__feedback {
    margin-top: 25px;

    &__complete {
      color: green;
    }
    &__incomplete {
      color: red;
    }
  }
}
